version: '3.8'

services:
  # Servicio del Microservicio Flask
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: orders
    # Ya NO necesitamos 'depends_on' ni 'db' si la DB no está definida aquí.
    # ELIMINAR depends_on COMPLETAMENTE.
    
    environment:
      # Conectar a la misma base de datos de Products (host en 5433)
      DB_HOST: host.docker.internal 
      DB_PORT: 5433
      DB_NAME: medisupplydb
      DB_USER: postgres
      DB_PASSWORD: postgres
      RUN_DB_INIT_ON_STARTUP: "True"
      PORT: 8084
    
    ports:
      - "8084:8084"
    
    # El comando se simplifica al no esperar una dependencia interna.
    command: ["sh", "-c", "python app.py"]