version: '3.8'

services:
  reports-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: reports
    platform: linux/amd64
    ports:
      - "8085:8085"
    environment:
        DB_HOST: host.docker.internal
        DB_PORT: 5433
        DB_NAME: medisupplydb
        DB_USER: postgres
        DB_PASSWORD: postgres
        DB_SSLMODE: disable
        RUN_DB_INIT_ON_STARTUP: true
        PORT: 8085
        OFFER_MANAGER_URL: http://host.docker.internal:8082
    command: ["gunicorn", "--bind", "0.0.0.0:8085", "app:app"]