version: '3.8'

services:
  # Servicio del Microservicio Flask
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: users
    # Ya NO necesitamos 'depends_on' ni 'db' si la DB no está definida aquí.
    # ELIMINAR depends_on COMPLETAMENTE.
    
    environment:
      # Conectar a la misma base de datos de Products (expuesta en el host en 5432)
      DB_HOST: host.docker.internal 
      DB_PORT: 5433
      DB_NAME: medisupplydb
      DB_USER: postgres
      DB_PASSWORD: postgres
      RUN_DB_INIT_ON_STARTUP: "True"
      PORT: 8083
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID:-AKIARYEUCIJBA62TQ4QM}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY:-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}
      AWS_REGION: ${AWS_REGION:-us-east-1}
      COGNITO_USER_POOL_ID: ${COGNITO_USER_POOL_ID:-us-east-1_3n4C8QOve}
      COGNITO_CLIENT_ID: ${COGNITO_CLIENT_ID:-113qhpd3hktvupdbhpi5361h90}
      # Variables LLM para recommendation_agent
      LLM_API_KEY: ${LLM_API_KEY:-AIzaSyDBM4aXt4948DT9Z_JkKmLKOvgRb19IZGA}
      ACTIVE_LLM: ${ACTIVE_LLM:-GEMINI}
      LLM_MODEL: ${LLM_MODEL:-gemini-2.5-flash}
      PYTHONUNBUFFERED: 1
      
    
    ports:
      - "8083:8083"
    
    # El comando se simplifica al no esperar una dependencia interna.
    command: ["sh", "-c", "python app.py"]
